body {
    background-color: #1F2029; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    color: #F0F4FF; 
    margin: 0;
    width: 100%;
    height: 810px;
}

.block-center {
    width: 540px;
    height: 335px;
    background-color: #2B2E3B; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#advice-id {
    font-size: 1.1em;
    line-height: 21px;
    color: #f1ade3; 
    padding-top: 25px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif; 
}

#advice-id:hover {
    text-decoration: underline;
}

#advice-text {
    font-size: 1.9em;
    line-height: 40px;
    color: #A7C7E7; 
    padding: 0 15px;
    margin: 0;
    font-family: 'Poppins', serif; 
}

#advice-text:hover {
    text-decoration: underline;
}

#dice-button {
    width: 65px;
    height: 65px;
    background-color: #8938a4; 
    border-radius: 50%;
    margin-bottom: -30px;
    cursor: pointer;
}

#dice-button:hover {
    border: 2px solid #8AB4F8; 
}

.dice-img:hover {
    border: 2px solid #8AB4F8;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .block-center {
        width: 396px;
        height: 361px;
        margin: 0 25px;
    }

    .block-center > div > img {
        width: 337px;
        height: 17px;
    }
}
